<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CFShapeTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CFShapeTester2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CFShapeTester3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KFShapeTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ShapeTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D44691AA1659792F009A23C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44691DE1659B77A009A23C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44691EE1659BAC1009A23C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44691FD1659BC7D009A23C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D446920F1659BE17009A23C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D446921F1659C047009A23C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
